body{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(9, 9, 9, 0.936);
    align-items: center;
    height: 550px;
}
.dv-1{
    width: 70%;
    display: flex;
    align-items: flex-end;
    height: 400px;
    background-image: url(wallpaperflare.com_wallpaper\ \(33\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 10px;
    transition: flex 2s ease; /* Transition duration set to 2 seconds */

}
.dv-2{
    width: 7%;
    height: 400px;
    background-image: url(wallpaperflare.com_wallpaper\ \(34\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    transition: flex 2s ease; /* Transition duration set to 2 seconds */

}
.dv-3{
    width: 7%;
    height: 400px;
    background-image: url(wallpaperflare.com_wallpaper\ \(35\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    transition: flex 2s ease; /* Transition duration set to 2 seconds */

}
.dv-4{
    width: 7%;
    height: 400px;
    background-image: url(wallpaperflare.com_wallpaper\ \(36\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    transition: flex 2s ease; /* Transition duration set to 2 seconds */

}
img{
    border-radius: 70px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(1050px);
    box-shadow: 0 0 10px rgba(0,0,0,2);
    margin-left: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}
